.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.apTitle {
  position: relative;
  
}

.movie-title  {
  position: absolute;
  margin-top: -450px;
  padding-top: 24px;
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
  color: rgb(230, 64, 64);
  text-align: center;
  
  
  background: rgba(0, 0, 0, 0.678);
  width: 300px;
  height: 450px;
  visibility: hidden;
  opacity: 0;

  transition: opacity .2s, visibility .2s;
}
.movie-description {
  position: absolute;
  visibility: hidden;
  width: 280px;
  opacity: 0;
  margin-top: -250px;
  color: white;
  margin-left: 10px;
  text-align: center;
  overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    
    -webkit-box-orient: vertical;

  
}
.movie-category {

  position: absolute;
  width: 300px;
  visibility: hidden;
  opacity: 0;
  margin-top: -350px;
  text-align: center;
  transition: opacity .2s, visibility .2s;
  
}

.apTitle:hover .movie-category {

  visibility: visible;
  opacity: 1;
}
.apTitle:hover .movie-title {
  visibility: visible;
  opacity: 1;
}
.apTitle:hover .movie-description {
  
  visibility: visible;
  opacity: 1;
}


.movie-description{
  overflow: auto;
  
}

.movie-description::-webkit-scrollbar {
  
  width: 10px;
}
.movie-description::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: red;
  
}
.movie-description::-webkit-scrollbar-track {
  margin-top:120px;
  padding-left: 20px;
  border: 1px solid #000;
  padding: 2px 0;
  background-color: #404040;
}
.itemsCate{
  margin: 10px 10px;
  min-height: 10px;
  font-size: 14px;
  background-color: red;
  border: none;
  border-radius: 10px;
  color: rgb(245, 237, 237);
}
body{
  background-color: rgba(0,0,0,.3);
}
.search{
  display: flex;
  justify-content: center;
  margin: 30px auto;
}
.seeMore{
 
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid yellowgreen;
  display: flex;
  align-items: center;
  font-weight: 400;
}

.movie-modal {
  
  text-align: center;
  
  margin: 0 auto;
  
}
.html5-video-player{
  width: 700px;
  height: 500px;
}
.MuiSlider-root{
  margin-left: 100px;
  width: 300px !important;
}
.trailer{
  margin-top: 30px;
  margin-right: 40px;
}