.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.apTitle {
  position: relative;
  
}

.movie-title  {
  padding-top: 24px;
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
  color: rgb(230, 64, 64);
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.678);
  width: 300px;
  height: 450px;
  visibility: hidden;
  opacity: 0;

  transition: opacity .2s, visibility .2s;
}
.movie-description {
  
  position: absolute;
  padding-top: 120px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 260px;
  height: 300px;
  color: white;
  visibility: hidden;
  opacity: 0;
  margin-left: 20px;
  transition: opacity .2s, visibility .2s;
  text-align: right;
}
.movie-category {

  position: absolute;
  top: 10;
  bottom: 0;
  left: 0;
  right: 0;
  width: 260px;
  visibility: hidden;
  opacity: 0;
  margin-left: 20px;
  transition: opacity .2s, visibility .2s;
  color: red;
  border: 1px solid yellowgreen;
}

.apTitle:hover .movie-category {

  visibility: visible;
  opacity: 1;
}
.apTitle:hover .movie-title {
  visibility: visible;
  opacity: 1;
}
.apTitle:hover .movie-description {
  
  visibility: visible;
  opacity: 1;
}


.movie-description{
  overflow: auto;
  
}

.movie-description::-webkit-scrollbar {
  
  width: 10px;
}
.movie-description::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: red;
  
}
.movie-description::-webkit-scrollbar-track {
  margin-top:120px;
  padding-left: 20px;
  border: 1px solid #000;
  padding: 2px 0;
  background-color: #404040;
}

